.App {
  background: linear-gradient(45deg, #282c34, #3E4451);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App h1 {
  margin-bottom: 0px;
}

#downloadButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#downloadButton:hover {
  background-color: #45a049;
}

.icons-container {
  position: absolute;
  top: 20px;
  right: 30px;
  text-decoration: none;
  color: #fff;

}

.icons-container a {
  text-decoration: none;
  color: #fff;
}

.icon {
  color: white;
  font-size: 36px;
  margin-left: 15px;
}

#contact-form {
  position: fixed;
  max-width: 400px;
  /*margin: 0 auto;*/
  bottom: 15px;
}


#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-size: large;
}

#contact-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}